<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/shop.css" />
    <title>Shop</title>
  </head>
  <body>
    <main class="g-wrap">
      <h1 class="g-h1">Shop</h1>
      <div class="g-grid" data-products-grid></div>
    </main>

    <script type="module" src="/js/shop.js"></script>
  </body>
</html>
